apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-lpipgsra
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-lpipgsra:18deba9f0f0072ee71e291b50de592aa2cfebb4a@sha256:579ca243599974f9b1a8bf18d03e9894edf61cb7a437095c91e5af75d382fd34
        name: container-image  
